.questions{
    display: block;
}

ul{
    list-style: none;
}
.question1, .question2,.question3,.question4,.question5{
    display: block;
}

.displaying-input-errors{
    border: 1px solid red;
}

/* .block-for-displaying-input-errors{
    display: none;
} */
.display-none{
    display: none;
}